<div class="container-fluid bg-light">
    <div class="container bg-light">
        <div class="row mt-4" style="height: 500px;">
            <div class="col"></div>
            <div class="col-md-6 bg-white shadow">
                <div class="card bg-warning mt-4">
                    <h4 class="text-white ps-3 pt-2 pb-2">to do list</h4>
                </div>
                <div class="input-group p-4 shadow">
                    <input type="text" class="form-control" placeholder="enter number" name="task" [(ngModel)]="addTaskValue">
                    <button class="btn btn-outline-success" type="button" (click)="addTask()">+</button>
                </div>

                <h4 class="text-primary mt-4">Task : </h4>

                <div style="overflow-y: auto; height: 350px">
                    <div class="m-3" *ngFor="let task of taskArr">
                        <div class="p-2 shadow border">
                            <div class="input-group row ps-3">
                                <div class="card col-md-10 border-0">
                                    {{task.task_name}}
                                </div>
                                <button class="btn btn-outline-primary col me-2">
                                    e
                                </button>
                                <div class="btn btn-outline-danger col">X</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>