<!-- <div class="footer">
    <div class="row">
        <div class="col-lg-6">
            <h1> BIRTHDAY DONATION</h1>
            <p>We are India's most trusted and transparent crowdfunding platform, with a vision to create a social
                impact</p>
        </div>

        <div class="col-lg-4">
            <a routerLink="">HOME</a>
            <a routerLink="donation">DONATION</a>
            <a routerLink="faq">FAQ</a>
            <a routerLink="contact-us">CONTACT_US</a>
            <a routerLink="signup">SIGNUP</a>
        </div>

        <div class="col-lg-2">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div> -->

<!-- this is angular material tool bar -->
 <div class="footer">
    <mat-toolbar>
        
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>
