<div class="footer">
    <div class="row">
        <!-- name    -->
        <div class="col-lg-6">
            <h1> BIRTHDAY DONATION</h1>
            <p>We are India's most trusted and transparent crowdfunding platform, with a vision to create a social
                impact</p>
        </div>

        <!-- navigation -->
        <div class="col-lg-4">
            <a routerLink="">HOME</a>
            <a routerLink="donation">DONATION</a>
            <a routerLink="faq">FAQ</a>
            <a routerLink="contact-us">CONTACT_US</a>
            <a routerLink="signup">SIGNUP</a>
        </div>

        <!-- socialmedia -->
        <div class="col-lg-2">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>