<!--navbar-->

<div class="container">
  <h1>FAQs</h1>
  <p>Please browse through these FAQs for all the general questions about BD. <br>If you are still unsure, you can
    contact us here.</p>
</div>



<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
          (click)="donorsFAQClicked()" type="button" role="tab" aria-controls="pills-home"
          aria-selected="true">Donor</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
          (click)="ngoFAQClicked()" type="button" role="tab" aria-controls="pills-profile"
          aria-selected="false">NGO</button>
      </li>
    </ul>
  </div>
</div>



<div *ngIf="!ngo">
  <div class="container">

    <!--accordian-->
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <strong>What is BD</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            BD is India's one of a kind crowdfunding platform that allows donors to directly donate towards
            products that are required by the NGO. In the last 5 years, we have partnered with 1000+ NGOs all over India
            to raise 150+ crores worth of products. More than 5 lakh unique donors have used our platform to donate to
            charities of their choice. As a donor, you are guaranteed 100% transparency - after you donate towards the
            products, you will receive an update from the campaigner.
          </div>
        </div>
      </div>

      <!--2-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong>How to claim Tax-Exemption for my contributions on BD?</strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            After you complete your donation successfully, you will find GET 80G button on the payment success
            page.Please fill in your PAN number,complete address,name as per PAN and submit.Your 80G certificate will be
            downloaded and also sent via email.Alternatively, the same can be done using the button in the payment
            success email.You can claim tax benefits while filing ITR in India with that certificate.

          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong>Why do we collect a tip amount ?</strong>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Sometimes prices of the products change during the course of the campaign, we use these tips to cover the
            hike in prices and deliver the goods to NGOs.

            Tip is a voluntary contribution towards our platform and donors can choose to give any amount as tips.
          </div>
        </div>
      </div>
      <!-- 4 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <strong>Why should I trust BD ?</strong>
          </button>
        </h2>
        <div id="collapseFwo" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            BD is one of its kind platform, which brings in a new layer of trust and transparency in the
            donations made to social organisations by delivering products directly to them instead of giving money. We
            have added these unique features on our platform where transparency is given utmost importance.

          </div>
        </div>
      </div>
      <!-- 5 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong>When will my donated products be delivered ?</strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            All the products that have been obtained during a campaign will be delivered at the end of the campaign.
            However if the organisation requests us, we can deliver the products before the end of the campaign as well.

          </div>
        </div>
      </div>
      <!-- 6 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong>Can I Get A Refund Of My Donation?</strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Once you've made a donation to any campaign on BD, the amount you've chosen to donate is
            non-refundable. However, if the amount is debited more than once, you will receive a refund for the amount
            debited for the second time

          </div>
        </div>
      </div>
      <!-- 7 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong>Can I donate products offline visiting the NGO ?</strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            BD believes in need based donation and lists down the quantity of products that the organisations
            are in need of at that particular time. If any donations are made offline we can’t track those details and
            NGO will end up getting products which they would have already received on BD. So we suggest
            donating products on BD and later visit the organisation once these are delivered.

          </div>
        </div>
      </div>
      <!-- 8 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong>Who will fix the quality of the products listed ?</strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            BD offers various quality and price options to organisations and it is up to the organisation to choose
            which products they would like to list for their campaign.

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div *ngIf="ngo">
  <div class="container">

    <!--accordian-->
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <strong>How to create a campaign on BD ?</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            To start a campaign on BD please fill this form - Click Here. Your request will be reviewed and in
            case we can assist you in anyway, our team will reach out to you with in a week to know more details. As we
            get huge number of requests daily, we may not respond to all of them. Thanks for your cooperation.
          </div>
        </div>
      </div>

      <!--2-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong>What products can be raised on BD ?</strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            We can list any kind of products on our platform, which includes stationary, groceries, medical equipment,
            daily essentials etc. You can also have a look at the completed campaigns on our website to get a better
            idea of the products we raise. Also we will be sharing a catalogue with you, once we receive an email from
            you regarding the campaign you would like to launch. 70% of any NGO’s funds go into procuring some or the
            other products which can be raised through BD.
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong>How long can I run a campaign ?</strong>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Whenever we receive any donation for your campaign, it will automatically reflect on your campaign page. You will also receive admin details from us where you can track your donor’s details so you can thank and acknowledge their donation.
          </div>
        </div>
      </div>
      <!-- 4 -->
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <strong>Is there a limit on how many products I can raise ?</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              There is no limit to how many products you can raise, as we believe that the organizations are in need of large supplies of products to run their operations smoothly. We do recommend that you start a campaign with a realistic target as donors usually wish to support and donate for campaigns that are reaching their targets.
            </div>
          </div>
        </div>
      </div>
      <!-- 5 -->
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <strong>When will the products be delivered to us ?</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              All the products that have been obtained during a campaign will be delivered at the end of the campaign. Even if the campaign won’t complete 100% you will receive whatever products you have obtained by the end of the campaign.
            </div>
          </div>
        </div>
      </div>
      <!-- 6 -->
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <strong>Will BD be helping me with the campaign ?</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              We at BD always want the campaigners to reach their target before the deadline. We allocate a campaign manager who will assist you in every step during the campaign. The campaign manager will share the tried and tested result oriented techniques with you in order to promote the campaign.
            </div>
          </div>
        </div>
      </div>
      <!-- 7 -->
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <strong>Why would the donor prefer BD to other crowd funding platforms ?</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              At BD the NGO’s ask the donors for products instead of monetary donations. Thus the donor gets the maximum satisfaction for every single rupee they have spent on the product. This transparency in terms of the donation will drive the donors to our platform rather than other crowd-funding platforms/your website that ask money. Our ability to track their donations and the updates given by NGOs will also attract the donors. Many NGOs have seen 300% increase in the Donor base because of BD.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
