.how-it-works_stepWrapper__1Xof_ {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 16px;
}

.how-it-works_stepHeading__VVyYp {
    width: 100%;
    text-align: center;
    color: #423b7d;
    letter-spacing: 1px;
    padding-top: 7px;
}

.how-it-works_stepImg__Pt5dY {
    width: 41%;
    align-self: center;
    text-align: right;
}

.how-it-works_stepSeparator__188av {
    content: " ";
    width: 18%;
    background-image: url(../../../assets/image/dot.png);
    background-repeat: repeat-y;
    background-size: auto 100%;
    background-position: 50%;
}

.how-it-works_stepContentWrapper__2rNB2 {
    width: 41%;
    align-self: center;
    text-align: left;
    letter-spacing: 1px;
}

.how-it-works_stepImg__Pt5dY {
    width: 41%;
    align-self: center;
    text-align: right;
}

.how-it-works_stepImg__Pt5dY img {
    max-width: 250px;
}

.how-it-works_heading__1ZKAu {
    font-size: 24px;
    font-weight: 700;
    color: #ff7400;
    letter-spacing: 1px;
    text-align: center;
    padding: 32px 16px 0;
}

.how-it-works_desc__1DHHR {
    text-align: center;
    max-width: 500px;
    margin: 24px auto;
    padding: 0 16px;
}

h1, p {
    letter-spacing: 1px;
}

.how-it-works_tabsWrapper__2jrQI {
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    padding: 0 16px;
}