<!-- <p>user-page works!</p> -->

<!-- <h1 style="text-align:center; padding: 10px;">Admin page</h1> -->

<!-- class="div border border-primary" -->
<div>
   <div class="row ">
      <div class="col d-flex justify-content-center">
         <h1>Welcome!!!</h1>
      </div>
   </div>

   <div class="row mt-5">
      <div class="col-sm text-center">
         <button class="btn btn-success" (click)="adminProfileClickd()">My Profile</button>
      </div>
      <div class="col-sm text-center">
         <button class="btn btn-success" (click)="addCampaignClicked()">Add campaigns</button>
      </div>
   </div>

   <app-add-campaigns *ngIf="!profileClicked"></app-add-campaigns>
   <app-admin-profile *ngIf="profileClicked"></app-admin-profile>

  